@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans&family=Quicksand:display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'AR One Sans', sans-serif;
    background:#f0f2f5;
}