$blaco:#fff;
$theme:#Db0404;

  

header{
    width: 100%;
    background: #fff;
    padding: 10px 0px;
    box-shadow: 0 2px 4px rgba(216, 216, 216, 0.1), 0 8px 16px rgba(165, 165, 165, 0.1);
    .child-head{
        background: none;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $blaco;

        h1{
            font-size: 30px;
            color: $theme;
        }
        nav{
            
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            a{
                color: #3f3f3f;
                font-size: 20px;
                text-decoration: none;
            }
        }

        form{
            background: #ebf2f7;
            width: 40%;
            height: 36px;
            border: solid 1px #dddcdc;
            padding: 7px 20px;
            display: grid;
            grid-template-columns: 95% 5%;
            border-radius: 5px;
            input{
              
                background: none;
                border: none;
                outline: none;
            }
            button{
                background: none;
                border: none;
            }
        }
    }
}