/* .contPadre {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    background-color: red;
    
}

.contHijo {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
    background-color: green;
}

.articulosIzquierda {
    display: flex;
    flex-direction: column;
    width: 11%;
    margin-left: 70px;
}

.contenidito1 {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    transition: all 0.5s;
    background-color: #23714d;
    color: #fff;
}

.contenidito {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    transition: all 0.5s;
    background-color: #fff;
}

.contenidito:hover {
    background-color: #ccc;
}

.contenidito1:hover {
    background-color: #000;
    color: #fff;
}

.articulosIzquierda {
    margin-top: 50px;
    margin-right: 50px;
}

.fa-house, .fa-invision, .fa-briefcase, .fa-address-card, .fa-location-dot, .fa-phone {
    margin-right: 10px;
}

.fa-house, .house {
    margin-right: 13px;
}

.contenedorPublicacion {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 7px;
    width: 50%;
    margin-left: 200px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.contenedorDatos {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    
}

.cristianito {
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.nombreUsuario {
    font-size: 18px;
    font-weight: bold;
}

.nombreUsuario:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contFechaHora {
    margin-left: 10px;
}

.fecha, .hora {
    color: #566573;
}

.apartadocolumn {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.borderuno {
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, .7);
    margin: 0px 10px;
    border-radius: 50%;
    margin-top: 6px;
}

.fa-clock {
    margin-left: 10px;
    color: rgba(0, 0, 0, .7)
}

.autor, .link, .descripcion {
    margin-bottom: 10px;
    margin-left: 10px;
}

.imagensita {
    width: 100%;
    cursor: pointer;
}

.cont-anuncios {
    display: flex;
    flex-direction: row;
}

.contenedorNoticias {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.anuciosimg {
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
}

.anuciosimg:hover {
    opacity: .7;
} */
/* ----------------------------------------------- */

.cont-padre {
    
    width: 70%;
    height: 100%;
    display: flex;
    
    
    margin: auto;
    flex-direction: row;
    margin-top: 4.5%;
   
    
}

.cont-izquierdo {
    width: 300px;
    height: 100vh;
}



.cont-izquierdo-adentro {
    width: 250px;
    position: fixed;
}

.contenedorsitoizquierdo {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    width: 93%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    
}

.contenedorsitoizquierdo-home {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    width: 93%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    
    
    background-color: rgba(0, 0, 0, 0.1);
    
    color: #000;
    .fa-house {
        color: #006699;
    }
}

.contenedorsitoizquierdo-gaming {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    width: 93%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    margin-top: 15px;
}

.contenedorsitoizquierdo-about {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    width: 93%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    margin-top: 15px;
    margin-top: 25px;
    
}

.contenedorsitoizquierdo:hover, .contenedorsitoizquierdo-gaming:hover, .contenedorsitoizquierdo-about:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
.fa-house, .fa-fire-flame-curved, .fa-twitch, .fa-medal, .fa-business-time, .fa-bitcoin, .fa-tv, .fa-graduation-cap,
.fa-blogger-b, .fa-circle-question, .fa-icons, .fa-gears, .fa-windows {
    color: #006699;
}
}

.fa-house, .fa-fire-flame-curved, .fa-twitch, .fa-medal, .fa-business-time, .fa-bitcoin, .fa-tv, .fa-graduation-cap,
.fa-blogger-b, .fa-circle-question, .fa-icons, .fa-gears, .fa-windows {
    font-size: 17px;
}

.house, .popular, .gaming, .sports, .business, .crypto, .television, .celebrity, .aboutBundler, .help, .blog, .carrers,
.descargar {
    margin-left: 11px;
}

.borderuno {
    width: 93%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin-top: 12px;
}

.borderdos {
    width: 93%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin-top: 25px;
}

.TOPICS {
    margin-top: 22px;
    font-size: 13px;
    margin-left: 6px;
    cursor: pointer;
    display: inline-block;
}


.AYUDA {
    font-size: 13px;
    margin-top: 25px;
    margin-left: 6px;
    cursor: pointer;
    display: inline-block;
}

.see-more {
    font-size: 13px;
    padding: 11px 13px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 6px;
    cursor: pointer;
    width: 40%;
    text-align: center;
}

.see-more:hover {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

.allrights {
    font-size: 10px;
    margin-top: 100px;
}

.fa-copyright {
    font-size: 8px
}

.cont-publicacion-grande {

    width: 43%;
    padding: 0px 20px;

    width: 47%;
    
   
padding: 0px 20px;

}

.cont-publicaciones-pequeno {
    width: 100%;
}

.loading{
    text-align: center;
    font-size: 20px;
}

.publicaciones {
    background-color: #fff;
    width: 100%;
    margin: 0px auto;
   
    margin-bottom: 20px;
    
    border-radius: 7px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.perfil {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    
}

.div-column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}

.fondo-datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px ;
}

.datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6e6c6c;
}

.bolita {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #000;
    margin: 0px 10px;
}

.cont-img-publicacion {
    
    width: 100%;
    
}

.img-publicacion {
    width: 100%;
    
}

a {
    padding: 5px 10px;
    display: inline-block;
}

.descripcion {
    padding: 10px;

}

.patrocinio{
    margin-bottom: 10px;
    font-size: 20px;
    color: #3b3b3b;
}

.cont-anuncios {
    width: 300px;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 100px;
    margin-left: 100px;
}

.img-anuncio {
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
    border-radius: 5px;
    
}

.bordertres {
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-bottom: 20px;
}

.bordecuatro {
    width: 1px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 30.7%;
}