.contPadre {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    
}

.contHijo {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.articulosIzquierda {
    display: flex;
    flex-direction: column;
    width: 11%;
    margin-left: 70px;
}

.contenidito1 {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    transition: all 0.5s;
    background-color: #23714d;
    color: #fff;
}

.contenidito {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    transition: all 0.5s;
    background-color: #fff;
}

.contenidito:hover {
    background-color: #ccc;
}

.contenidito1:hover {
    background-color: #000;
    color: #fff;
}

.articulosIzquierda {
    margin-top: 50px;
    margin-right: 50px;
}

.fa-house, .fa-invision, .fa-briefcase, .fa-address-card, .fa-location-dot, .fa-phone {
    margin-right: 10px;
}

.fa-house, .house {
    margin-right: 13px;
}

.contenedorPublicacion {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 7px;
    width: 50%;
    margin-left: 200px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.contenedorDatos {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    
}

.cristianito {
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.nombreUsuario {
    font-size: 18px;
    font-weight: bold;
}

.nombreUsuario:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contFechaHora {
    margin-left: 10px;
}

.fecha, .hora {
    color: #566573;
}

.apartadocolumn {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.borderuno {
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, .7);
    margin: 0px 10px;
    border-radius: 50%;
    margin-top: 6px;
}

.fa-clock {
    margin-left: 10px;
    color: rgba(0, 0, 0, .7)
}

.autor, .link, .descripcion {
    margin-bottom: 10px;
    margin-left: 10px;
}

.imagensita {
    width: 100%;
    cursor: pointer;
}

.cont-anuncios {
    display: flex;
    flex-direction: row;
}

.contenedorNoticias {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.anuciosimg {
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
}

.anuciosimg:hover {
    opacity: .7;
}
